<style>

</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button size="small" routerLink="/sessions/{{session.id}}">Retour</ion-button>
    </ion-buttons>
    <ion-title>
      Mes Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-toolbar>
    <ion-title size="small">{{session.title}}</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-textarea autoGrow required *ngIf="note.contenu != null" name="contenu" #contenu="ngModel"
      [(ngModel)]="note.contenu" placeholder="note.contenu"></ion-textarea>
  </ion-item>
  <ion-toolbar>
    <ion-button expand="block" (click)="enregistrerNotes(note)">Enregistrer</ion-button>
  </ion-toolbar>


</ion-content>