<style>
  .ion-margin-top {
    margin-top: 50px;

  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button size="small" routerLink="/sessions/{{session.id}}">Retour</ion-button>
    </ion-buttons>
    <ion-title>
      Mes Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>


    <ion-card-title class="ion-text-center ion-margin-bottom">{{session.title}}</ion-card-title>


    <ion-card-content class="ion-padding">

      <ion-fab horizontal="start" vertical="top" slot="fixed">
        <ion-fab-button color="primary">
          <ion-icon name="camera" (click)="prendrePhoto()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab horizontal="center" vertical="top" slot="fixed">
        <ion-fab-button color="primary">
          <ion-icon name="image" (click)="choisirPhoto()"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-item class="ion-margin-top">
        <ion-card-subtitle class="ion-margin-top" color="dark">Notes</ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-textarea rows="10" required name="contenu" #contenu="ngModel" [(ngModel)]="note.contenu"
          placeholder="note.contenu"></ion-textarea>
      </ion-item>
      <ion-toolbar>
        <ion-button expand="block" (click)="enregistrerNotes(note)">Enregistrer</ion-button>
      </ion-toolbar>
      <ion-toolbar *ngIf="listePhoto != null">
        <div *ngFor="let photo of listePhoto">
          <img [src]="photo">
        </div>
      </ion-toolbar>

    </ion-card-content>
  </ion-card>




</ion-content>