<ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button size="small" routerLink="/presentateurs">Retour</ion-button>
    </ion-buttons>
    <ion-title>
      Présentateur
    </ion-title>
  </ion-toolbar>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-text-center ion-padding-top">{{speaker.name}}</ion-card-title>
    <ion-card-content>
      <img src="{{speaker.photoUrl}}" class="ion-padding-bottom">
      <ion-toolbar class="ion-padding-bottom">{{speaker.shortBio}}</ion-toolbar>
      <ion-toolbar>
        <ion-list>
          <ion-list-header>
            <h2 color="dark" class="ion-text-left">Ses présentations</h2>
          </ion-list-header>

          <ion-item *ngFor="let session of listeSessionSpeaker">
            <ion-label>
              <a routerLink="/sessions/{{session.id}}">{{session.title}}</a>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>
</ion-content>